# Bluepad32: use the project-owned custom platform.
CONFIG_BLUEPAD32_PLATFORM_CUSTOM=y
CONFIG_BLUEPAD32_MAX_DEVICES=1
CONFIG_BLUEPAD32_UART_OUTPUT_ENABLE=y
CONFIG_BLUEPAD32_USB_CONSOLE_ENABLE=n

# Bluepad32 / BTstack on original ESP32
CONFIG_BT_ENABLED=y
CONFIG_BT_CONTROLLER_ONLY=y
CONFIG_BTDM_CTRL_MODE_BTDM=y
